---
import Hero from '../sections/Hero.astro';
import Info from '../sections/Info.astro';
import Know from '../sections/Know.astro';
import Layout from '../layouts/Layout.astro';
import Logos from '../sections/Logos.astro';
import Mifooter from '../sections/Mifooter.astro';
---

<Layout title="Roberto">
  <Hero />
	<main>
    <Info />
    <Know />
    <Logos />
	</main>
  <Mifooter />
</Layout>

