<section class="flex flex-col justify-center items-center pb-2">
  <h1 class="text-8xl bg-gradient-to-r from-indigo-400 via-pink-400 to-purple-400 inline-block text-transparent bg-clip-text">Roberto</h1>
</section>
