<section class="flex flex-col justify-center items-center">
  <a href="">
    <img src="../icons/blog.svg" alt="Blog page icon">
  </a>
  <a href="">
    <img src="../icons/ld.svg" alt="LinkedIn page icon">
  </a>
  <a href="">
    <img src="../icons/gh.svg" alt="GitHub page icon">
  </a>
  <a href="">
    <img src="../icons/cv.svg" alt="Curriculum vitae page icon">
  </a>
</section> 
