<section class="flex flex-col justify-center items-center">
  <a href="">
    <img class="w-12 h-12" src="blog.svg" alt="Blog page icon">
  </a>
  <a href="">
    <img class="w-14 h-14" src="ld.svg" alt="LinkedIn page icon">
  </a>
  <a href="">
    <img class="w-12 h-12" src="gh.svg" alt="GitHub page icon">
  </a>
  <a href="">
    <img class="w-12 h-12" src="cv.svg" alt="Curriculum vitae page icon">
  </a>
</section> 
