---
import '@fontsource-variable/montserrat';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Página web de Roberto García Sánchez" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../public/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
    <div class="max-w-6xl px-32 pt-24 mx-auto" >
		  <slot />
    </div>
	</body>
</html>
<style is:global>
	html {
		font-family: 'Montserrat Variable', sans-serif;
		background: white; 
	}
</style>
